<br />
<br />

<h1>Supplier Details</h1>
<br />

<div style="width: 900px">
  <form #supplierdetails="ngForm" (ngSubmit)="addSupplier()">
    <div class="form-group">
      <label for="name">Name of Supplier : </label>
      <input
        class="form-control"
        type="name"
        [(ngModel)]="supplier.name"
        name="name"
        required
        placeholder="Enter Supplier's Name"
        pattern="[A-Z][A-Za-z]{4,}"
        #name="ngModel"
        [class.is-invalid]="name.invalid && name.touched"
      />
      <div *ngIf="name.errors && name.invalid && name.touched">
        <small class="text-danger" *ngIf="name.errors.required"
          >Name is required field</small
        >
        <small class="text-danger" *ngIf="name.errors.pattern"
          >First letter must be capital! Name must be minimum 5 characters
          long.</small
        >
      </div>
    </div>

    <br />
    <button
      type="submit"
      [disabled]="supplierdetails.invalid"
      class="btn btn-info"
    >
      Add Supplier
    </button>
  </form>
  <div class="container-fluid" style="margin-top: 20px;">
    <h1>Location</h1>
    <app-map [lat]='10.762622' [lng]='106.660172'></app-map>
  </div>
</div>
