<div style="padding: 10px 0">  
    <input type="text" placeholder="Search places..." [(ngModel)]="query" style="width: 90%;" />  
    <button (click)="places(query)">Search</button>  
  </div>  
    
  <div #map [style.width]="width" [style.height]="height"></div>  
    
  <div style="padding: 10px 0">  
    <div class="col-xxl-12">  
      <div class="red-800">  
        <label>Latitude : {{lat}}</label>  
            
        <label>Longitude : {{lng}}</label>  
      </div>  
      <div class="blue-800">  
        <label>Address : {{address}}</label>  
      </div>  
    </div>  
  </div> 
  
  <!-- <ol style="float: left; background-color: #FFF; width: 35%; min-height: 530px; margin-left: 20px; margin-top: 0">
    <li *ngFor="let direction of directions">
        <p [innerHTML]="direction.instruction"></p>
    </li>
  </ol> -->