<div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Add Product</h3>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Details</p>
          </div>
          <div class="card-body">
            <form
              (ngSubmit)="saveProduct(addForm.value)"
              #addForm="ngForm"
              class="needs-validation"
            >
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="product"
                      ><strong>Product Name</strong><br
                    /></label>
                    <input
                      class="form-control"
                      [(ngModel)]="product.product_Name"
                      type="text"
                      placeholder="Product Name"
                      name="product_Name"
                      required
                      #product_Name="ngModel"
                      [class.is-invalid]="product_Name.invalid && product_Name.touched"
                    />
                    <div *ngIf="product_Name.errors && product_Name.invalid && product_Name.touched">
                      <small class="text-danger" *ngIf="product_Name.errors.required"> Name is required field</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="buy_price"
                      ><strong>Buy price</strong><br
                    /></label>
                    <input
                      class="form-control"
                      [(ngModel)]="product.buy_price"
                      type="number"
                      placeholder="buy price"
                      required
                      name="buy_price"
                      #buy_price="ngModel"
                      [class.is-invalid]="buy_price.invalid && buy_price.touched"
                    />
                    
                    <div *ngIf="buy_price.errors && buy_price.invalid && buy_price.touched">
                      <small class="text-danger" *ngIf="buy_price.errors.required">buy_price is required field</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="quantity"><strong>sell price</strong><br /></label
                    ><input
                      class="form-control"
                      type="number"
                      [(ngModel)]="product.sell_price"
                      name="sell_price"
                      placeholder="sell_price"
                      #sell_price="ngModel"
                      [class.is-invalid]="sell_price.invalid && sell_price.touched"
                    />
                    <div *ngIf="sell_price.errors && sell_price.invalid && sell_price.touched">
                      <small class="text-danger" *ngIf="sell_price.errors.required">sell price is required field</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="Qty Unit"
                      ><strong>Quantity Unit</strong><br /></label
                    ><input
                      class="form-control"
                      name="qty"
                      type="number"
                      required
                      [(ngModel)]="product.qty"
                      #qty="ngModel"
                      [class.is-invalid]="qty.invalid && qty.touched"
                    />
                     
                  
                    
                    <div *ngIf="qty.errors && qty.invalid && qty.touched">
                      <small class="text-danger" *ngIf="qty.errors.required">Quantity Unit is required field</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <!-- <div class="col">
                  <div class="form-group">
                    <label for="Qty Unit"
                      ><strong>Warehouse</strong><br /></label
                    ><select
                      class="form-control"
                      name="warehouseId"
                      [(ngModel)]="warehouseId"
                      #warehouse="ngModel"
                      required
                      [class.is-invalid]="warehouse.invalid && warehouse.touched"
                    >
                      <optgroup label="Select Warehouses">
                        <option
                          *ngFor="let warehouse of warehouses"
                          [value]="warehouse.warehouseId"
                          selected=""
                          
                        >
                          {{ warehouse.name }}
                        </option>
                      </optgroup>
                    </select>
                    
                    <div *ngIf="warehouse.errors && warehouse.invalid && warehouse.touched">
                      <small class="text-danger" *ngIf="warehouse.errors.required">Warehouse ID is required field</small>
                    </div>
                  </div>
                </div> -->
                <div class="col">
                  <div class="form-group text-center">
                    <label for="submit"></label><br />
                    <button  [disabled]="addForm.invalid" class="btn btn-primary" type="submit" name="submit">
                      ADD PRODUCT
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
