<!-- <p>view-profile works!</p> -->
<br />
<br />
<div class="container">
  <label>
    <h1>Suppliers List</h1>
  </label>
  <br />
  <br />

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
  

        <th
          [routerLink]="['/dashboard/addsupplier']"
        >
          <button type="submit" class="btn btn-success">
            Add New Supplier
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers" routerLink='{{supplier.warehouse_id}}'>
        <td>{{ supplier.warehouse_Name }}</td>

        <td>
          <button
            class="btn btn-primary"
            style="margin-left: 10px"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>

<br />
