<div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Add Staff</h3>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Details</p>
          </div>
          <div class="card-body">
            <form
              (ngSubmit)="addStaff(addForm.value)"
              #addForm="ngForm"
              class="needs-validation"
            >
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="product"
                      ><strong>Staff name</strong><br
                    /></label>
                    <input
                      class="form-control"
                      [(ngModel)]="staff.name"
                      type="text"
                      placeholder="staff name"
                      name="name"
                      required
                      #product_Name="ngModel"
                    />
                   
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="buy_price"
                      ><strong>Position</strong><br
                    /></label>
                    <input
                      class="form-control"
                      [(ngModel)]="staff.position"
                      type="number"
                      placeholder="position"
                      required
                      name="position"
                      #buy_price="ngModel"
                      [class.is-invalid]="buy_price.invalid && buy_price.touched"
                    />
                    
                    
                  </div>
                </div>
              </div>
              <div class="form-row">
                
                <div class="col">
                  <div class="form-group text-center">
                    <label for="submit"></label><br />
                    <button  [disabled]="addForm.invalid" class="btn btn-primary" type="submit" name="submit">
                      ADD STAFF
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
